body {
    font-family: 'GraphikLCG-Regular';
    background-color: $grey;
}

.page-wrap {
    max-width: 1490px;
    margin: 0 auto;
    padding: 0 $container-space;
}

.flex-container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    max-width: calc($container-width + $container-space * 2);
    width: 100%;
    padding: 0 $container-space;
    margin: 0 auto;
}