.header {
    // position: sticky;
    // top: 0%;
    padding: 25px 0;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: $white;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px 50px;
    }

    &__left-logo {
        display: flex;
        align-items: center;
    }


    &__left-nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 50px;
    }

    &__left-nav-link {
        display: block;
        font-weight: 400;
        font-size: $fs-sm;
        line-height: 20px;
        color: $black;
    }

    &__right {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        // margin: 0 auto;
    }

    &__right-login-link {
        display: block;
        font-size: $fs-normal;
        font-weight: 600;
        line-height: 45px;
        color: $black;
        padding: 0 36px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

}

.container-header {
    max-width: calc($container-header-width + $container-space * 2);
    width: 100%;
    padding: 0 $container-space;
    margin: 0 auto;
}

.login-link-orange {
    background-color: $orange;
    border: 0px;
    padding: 1px 22px;
    color: white;
}