.header-title {
    background-color: #fff;
    min-height: calc(100vh + 100px);
    display: flex;
    align-items: center;
    padding: 20px 0;

    &__flex-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__inner-left {
        max-width: 640px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }


    &__inner-right {
        max-width: 640px;
    }

    &__h1 {
        // font-size: $fs-h1;
        font-family: 'GraphikLCG-Semibold';
        line-height: 70px;
        @include adaptiv-font(65, 45)
    }

    &__h2 {
        font-size: $fs-md;
        max-width: 470px;
        line-height: 35px;
        margin: 40px 0;
    }

    &__inner-links {
        display: flex;
        padding-bottom: 25px;
        gap: 10px;
    }

    &__inner-link {
        font-size: $fs-normal;
        font-weight: 600;
        background-color: $orange;
        display: block;
        padding: 0 40px;
        color: $white;
        line-height: 60px;
    }

    &__right-img {
        width: 100%;
    }
}


.link-white {
    padding: 0 25px;
    background-color: $white;
    color: $black;
    border: 1px solid black;
}