.section-subscription {
    background-color: $light-orange;
    padding: 119px 0 160px;

    &__inner {
        @extend %flex;
        flex-direction: column;
        align-items: center;
    }

    &__h1 {
        @include adaptiv-font(60, 45);
        max-width: 880px;
        width: 100%;
        text-align: center;
        font-family: $ff-bold;
        line-height: 75px;
    }

    &__h4 {
        padding: 29px 0 54px;
        font-size: $fs-h4;
        line-height: 30px;

    }

    a {
        font-size: 17px;
        line-height: 60px;
        padding: 0 40px;
        background-color: $black;
        color: $white;
    }
}