.section-main {
    background-color: $white;

    &__block {
        padding: 90px 0 100px;
    }

    &__block-inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__block-txt {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 645px;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__block-logo {
        width: 100%;
        min-width: 300px;
        max-width: 645px;
        margin-bottom: 20px;
    }

    &__h2 {
        font-family: "GraphikLCG-Semibold";
        line-height: 60px;
        color: $black;
        max-width: 493px;
        @include adaptiv-font(50, 40)
    }

    &__h4 {
        font-size: $fs-h4;
        line-height: 30px;
        padding: 30px 0;
        max-width: 493px;

    }

    &__link {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: $black;
    }

    &__img {
        width: 100%;
    }

    .txt-center {
        align-items: center;
    }
}