* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "GraphikLCG-Regular";
  src: url("../assets/fonts/GraphikLCG-Regular.eot");
  src: url("../assets/fonts/GraphikLCG-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../assets/fonts/GraphikLCG-Regular.woff") format("woff"), url("../assets/fonts/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GraphikLCG-Semibold";
  src: url("../assets/fonts/GraphikLCG-Semibold.eot");
  src: url("../assets/fonts/GraphikLCG-Semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GraphikLCG-Semibold.woff2") format("woff2"), url("../assets/fonts/GraphikLCG-Semibold.woff") format("woff"), url("../assets/fonts/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.footer-botton__logo, .footer-botton, .footer-top, .section-subscription__inner, .section-bird-back__inner, .section-cake__socials, .section-cake__inner-left, .section-cake__inner, .section-autor__inner, .section-features__cards, .section-promo__cards, .section-promo__main-txt {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: "GraphikLCG-Regular";
  background-color: #fff;
}

.flex-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  max-width: 1340px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid rgb(204, 204, 204);
  background-color: #fff;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.header__left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 50px;
}
.header__left-logo {
  display: flex;
  align-items: center;
}
.header__left-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 50px;
}
.header__left-nav-link {
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.header__right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.header__right-login-link {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  color: #000000;
  padding: 0 36px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.container-header {
  max-width: 1390px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

.login-link-orange {
  background-color: #FF6336;
  border: 0px;
  padding: 1px 22px;
  color: white;
}

.header-title {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-top: 129px;
  padding-bottom: 182px;
}
.header-title__flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-title__inner-left {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.header-title__inner-right {
  max-width: 750px;
}
.header-title__h1 {
  font-family: "GraphikLCG-Semibold";
  line-height: 70px;
  font-size: 65px;
}
.header-title__h2 {
  font-size: 25px;
  max-width: 470px;
  line-height: 35px;
  margin: 40px 0;
}
.header-title__inner-links {
  display: flex;
  padding-bottom: 25px;
  gap: 10px;
}
.header-title__inner-link {
  font-size: 16px;
  font-weight: 600;
  background-color: #FF6336;
  display: block;
  padding: 0 40px;
  color: #fff;
  line-height: 60px;
}
.header-title__right-img {
  width: 100%;
}

.link-white {
  padding: 0 25px;
  background-color: #fff;
  color: #000000;
  border: 1px solid black;
}

.section-title {
  background-color: #FF9C7D;
}
.section-title__txt {
  max-width: 720px;
  width: 100%;
  padding: 100px 0 70px;
  margin: 0 auto;
}
.section-title__h1 {
  font-family: "GraphikLCG-Semibold";
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
.section-title__logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 104px;
  gap: 10px;
}

.section-main {
  background-color: #fff;
}
.section-main__block {
  padding: 90px 0 100px;
}
.section-main__block-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-main__block-txt {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  margin-bottom: 20px;
  gap: 30px;
  padding: 50px 30px;
}
.section-main__block-logo {
  width: 100%;
  min-width: 300px;
  max-width: 645px;
  margin-bottom: 20px;
}
.section-main__h2 {
  font-family: "GraphikLCG-Semibold";
  line-height: 60px;
  color: #000000;
  max-width: 493px;
  font-size: 50px;
}
.section-main__h4 {
  font-size: 20px;
  line-height: 30px;
  max-width: 493px;
}
.section-main__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.section-main__img {
  width: 100%;
}
.section-main .txt-center {
  align-items: center;
}

.section-promo {
  background-color: #FFF8E4;
  padding: 120px 0;
  font-family: "GraphikLCG-Semibold";
}
.section-promo__main-txt {
  max-width: 890px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 79px;
}
.section-promo__h2 {
  font-size: 50px;
}
.section-promo__cards {
  gap: 15px;
}
.section-promo__card {
  padding: 10px 40px;
  width: calc(33.33% - 15px);
  text-align: center;
  min-width: 250px;
}
.section-promo__h3 {
  font-size: 25px;
  line-height: 35px;
  padding: 25px 0 20px;
}
.section-promo__txt {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.section-promo__txt-link {
  text-decoration: underline;
  color: black;
}

.section-features {
  background-color: #fff;
  padding: 154px 0;
  font-family: "GraphikLCG-Semibold";
}
.section-features__title {
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}
.section-features__h2 {
  line-height: 60px;
  font-size: 50px;
}
.section-features__cards {
  align-items: baseline;
  gap: 15px;
  justify-content: center;
}
.section-features__cards li {
  width: calc(33.33% - 25px);
  min-width: 250px;
}
.section-features__h3 {
  font-size: 30px;
  line-height: 40px;
  padding: 49px 0 34px;
}
.section-features__txt {
  font-family: "GraphikLCG-Regular";
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 25px;
}
.section-features__link {
  color: #000000;
}

.section-autor {
  background-color: #C9E8F2;
  padding: 53px 0 105px;
}
.section-autor__inner {
  gap: 45px;
  justify-content: center;
}
.section-autor__title {
  max-width: 920px;
  width: 100%;
}
.section-autor__h1 {
  font-size: 30px;
  line-height: 40px;
}
.section-autor__h6 {
  font-size: 15px;
  line-height: 25px;
  padding: 23px 0 5px;
}

.section-cake {
  background-color: #DABC98;
  padding: 80px 0 84px;
}
.section-cake__inner {
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.section-cake__inner-left {
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.section-cake__main-txt {
  max-width: 461px;
  width: 100%;
  margin: 0 30px;
}
.section-cake__h3 {
  font-family: "GraphikLCG-Semibold";
  font-size: 35px;
  line-height: 50px;
}
.section-cake__socials:nth-of-type(1) {
  border-left: 2px solid black;
}
.section-cake__socials ul {
  padding: 30px 0 30px 70px;
}
.section-cake__socials ul > li:nth-child(2) {
  padding: 20px 0 15px;
}
.section-cake__socials ul > li > p {
  font-size: 15px;
  line-height: 25px;
}

.section-bird-back {
  background-color: #fff;
  font-family: "GraphikLCG-Semibold";
  padding: 160px 0;
}
.section-bird-back__inner {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.section-bird-back__inner img {
  max-width: 1023px;
  width: 100%;
  padding: 25px 0 32px;
}
.section-bird-back__h1 {
  font-size: 65px;
  max-width: 791px;
  line-height: 75px;
  text-align: center;
}
.section-bird-back__h2 {
  font-family: "GraphikLCG-Regular";
  font-size: 25px;
  max-width: 539px;
}
.section-bird-back__link {
  display: block;
  padding: 0 20px;
  background: #FF6336;
  color: #fff;
  line-height: 60px;
  font-size: 16px;
}

.section-subscription {
  background-color: #FF9C7D;
  padding: 119px 0 160px;
}
.section-subscription__inner {
  flex-direction: column;
  align-items: center;
}
.section-subscription__h1 {
  font-size: 65px;
  max-width: 880px;
  width: 100%;
  text-align: center;
  font-family: "GraphikLCG-Semibold";
  line-height: 75px;
}
.section-subscription__h4 {
  padding: 29px 0 54px;
  font-size: 20px;
  line-height: 30px;
}
.section-subscription a {
  font-size: 17px;
  line-height: 60px;
  padding: 0 40px;
  background-color: #000000;
  color: #fff;
}

.footer {
  background-color: #EEEEEE;
}

.footer-top {
  justify-content: space-between;
  gap: 20px;
  padding-top: 90px;
}
.footer-top__first {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin-right: 50px;
}
.footer-top__first__h1 {
  font-family: "GraphikLCG-Semibold";
  font-size: 40px;
  line-height: 50px;
  padding-bottom: 20px;
}
.footer-top__second, .footer-top__third, .footer-top__fourth, .footer-top__fifth {
  max-width: 159px;
  width: 100%;
}
.footer-top__second ul li, .footer-top__third ul li, .footer-top__fourth ul li, .footer-top__fifth ul li {
  font-size: 15px;
  line-height: 15px;
  padding-bottom: 15px;
}
.footer-top__second ul li:first-child, .footer-top__third ul li:first-child, .footer-top__fourth ul li:first-child, .footer-top__fifth ul li:first-child {
  font-family: "GraphikLCG-Semibold";
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 21px;
}

.footer-middle {
  padding-bottom: 90px;
  border-bottom: 1px solid black;
}
.footer-middle__img {
  max-width: 80px;
  padding: 23px 0 11px;
}
.footer-middle__h4 {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 15px;
  max-width: 290px;
}
.footer-middle a {
  display: block;
  font-size: 20px;
  font-family: "GraphikLCG-Semibold";
  color: #000000;
}

.footer-botton {
  align-items: center;
  padding: 52px 0 43px;
  justify-content: space-between;
  gap: 15px;
}
.footer-botton__logo {
  gap: 15px;
}
.footer-botton__logo img {
  padding: 0 3px;
}
.footer-botton__logo p {
  font-size: 12px;
  line-height: 15px;
  max-width: 300px;
}
.footer-botton__txt {
  max-width: 109px;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 1340px) {
  .header-title__flex-container {
    justify-content: center;
  }
  .header-title__inner-left {
    max-width: 740px;
    text-align: center;
  }
  .header-title__inner-right {
    max-width: 740px;
  }
  .header-title__h2 {
    max-width: 560px;
    margin: 40px auto;
  }
  .header-title__inner-links {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1200px) {
  .header-title__inner-left {
    max-width: 740px;
  }
  .header-title__inner-right {
    max-width: 740px;
  }
  .header-title__h2 {
    max-width: 560px;
  }
  .section-main__block-txt {
    width: 50%;
  }
  .section-main__block-logo {
    width: 50%;
  }
}
.section-cake__inner {
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .header__right {
    margin: 0 auto;
  }
  .header-title {
    padding-top: 99px;
    padding-bottom: 140px;
  }
  .header-title__h1 {
    max-width: 640px;
    font-size: 62px;
  }
  .header-title__h2 {
    max-width: 460px;
    font-size: 24px;
  }
  .section-title__logos {
    gap: 10px 90px;
  }
  .section-main__block {
    padding: 70px 0;
  }
  .section-main__block-txt {
    width: 50%;
  }
  .section-main__block-logo {
    width: 50%;
  }
  .section-main__h2 {
    font-size: 45px;
  }
  .section-main__h4 {
    font-size: 18px;
  }
  .section-main__link {
    font-size: 18px;
  }
  .section-features {
    padding: 100px 0;
  }
  .section-features__cards li {
    min-width: 220px;
  }
  .section-features__txt {
    font-size: 19px;
    line-height: 28px;
  }
  .section-bird-back {
    padding: 100px 0;
  }
  .section-bird-back__h1 {
    font-size: 60px;
  }
  .section-subscription {
    padding: 90px 0;
  }
  .section-subscription__h1 {
    font-size: 60px;
  }
  .footer-top {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .header__left {
    justify-content: center;
    text-align: center;
  }
  .header__left-nav {
    gap: 0 48px;
  }
  .header-title {
    padding: 40px 0 50px;
  }
  .header-title__h1 {
    font-size: 50px;
  }
  .header-title__h2 {
    font-size: 22px;
    margin: 20px auto;
  }
  .header-title__inner-link {
    font-size: 15px;
  }
  .section-title____txt {
    padding: 56px 0 57px;
  }
  .section-title__logos {
    padding-bottom: 50px;
  }
  .section-main {
    padding-top: 30px;
  }
  .section-main__block {
    padding: 45px;
  }
  .section-main__block-inner {
    justify-content: center;
  }
  .section-main__block-txt {
    width: 100%;
    gap: 20px;
  }
  .section-main__h2 {
    font-size: 40px;
  }
  .section-main__h4 {
    max-width: 360px;
  }
  .section-main__block-logo {
    width: 100%;
  }
  .section-main .txt-center {
    align-items: flex-start;
  }
  .section-promo {
    padding: 80px 0;
  }
  .section-promo__main-txt {
    padding-bottom: 34px;
  }
  .section-features {
    padding: 60px 0;
  }
  .section-features__title {
    padding-bottom: 50px;
  }
  .section-features__h2 {
    font-size: 45px;
    text-align: center;
  }
  .section-features__h3 {
    font-size: 26px;
    padding: 20px 0;
  }
  .section-features__txt {
    font-size: 17px;
    line-height: 25px;
  }
  .section-autor {
    padding: 50px 0;
  }
  .section-autor__h1 {
    font-size: 25px;
  }
  .section-cake {
    padding: 50px 0;
  }
  .section-cake__h3 {
    font-size: 30px;
  }
  .section-bird-back {
    padding: 60px 0;
  }
  .section-bird-back__h1 {
    font-size: 40px;
    line-height: 55px;
  }
  .section-bird-back__h2 {
    margin: 0 auto;
    max-width: 421px;
  }
  .section-bird-back__link {
    font-size: 15px;
  }
  .section-subscription {
    padding: 50px 0;
  }
  .section-subscription__h1 {
    font-size: 50px;
  }
  .section-subscription__h4 {
    padding: 20px 0 27px;
  }
  .footer-top {
    padding-top: 40px;
  }
  .footer-middle {
    padding-bottom: 60px;
  }
  .footer-botton {
    gap: 7px;
  }
}
@media screen and (max-width: 576px) {
  .header-title {
    padding: 30px 0 40px;
  }
  .header__left-nav {
    gap: 5px 10px;
  }
  .header__right-login-link {
    font-size: 15px;
    line-height: 40px;
  }
  .header-title__h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .header-title__h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .header-title__inner-links {
    margin: 0 auto;
  }
  .header-title__inner-link {
    line-height: 50px;
    margin: 0 auto;
  }
  .header-title__txt {
    font-size: 15px;
  }
  .section-title__txt {
    padding: 50px 0 50px;
  }
  .section-title__h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .section-main__block {
    padding: 20px 0;
  }
  .section-main__h2 {
    line-height: 50px;
  }
  .section-main__h4 {
    font-size: 17px;
  }
  .section-main__link {
    font-size: 17px;
  }
  .section-promo {
    padding: 50px 0;
  }
  .section-promo__h2 {
    font-size: 45px;
  }
  .section-promo__card {
    width: 100%;
  }
  .section-features {
    padding: 40px 0 20px;
  }
  .section-features__title {
    padding-bottom: 20px;
  }
  .section-features__h2 {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
  }
  .section-features__cards li {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .section-cake__h3 {
    text-align: center;
  }
  .section-cake__socials ul {
    padding: 10px 0 15px 40px;
  }
  .section-bird-back {
    padding: 40px 0;
  }
  .section-bird-back__h1 {
    line-height: 50px;
    padding-bottom: 15px;
  }
  .section-bird-back__link {
    line-height: 50px;
    padding: 0 12px;
  }
  .section-subscription {
    padding: 30px 0;
  }
  .section-subscription__h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .section-subscription a {
    line-height: 50px;
    padding: 0 30px;
  }
  .footer-top {
    padding-top: 25px;
  }
  .footer-top__first {
    margin: 0 auto;
  }
  .footer-top__second, .footer-top__third, .footer-top__fourth, .footer-top__fifth {
    max-width: 175px;
  }
  .footer-middle {
    padding-bottom: 40px;
  }
  .footer-middle__h4 {
    max-width: 376px;
  }
  .footer-botton {
    padding: 30px 0;
  }
}
@media screen and (max-width: 425px) {
  .footer-top__second, .footer-top__third, .footer-top__fourth, .footer-top__fifth {
    max-width: 145px;
  }
}